plugins/xml_schema/predefinedQueries_02_20_2010_20_20_19.xsd

<?xml version="1.0"?>

<!-- Schema for Configurations -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="predefinedQueries">
	
		<xsd:complexType>
					
			<xsd:sequence>
			
				<xsd:element name="query" minOccurs="1" maxOccurs="unbounded">

					<xsd:complexType>

						<xsd:attribute name="sql" type="xsd:string" use="required"/>

					</xsd:complexType>	

				</xsd:element>
		
			</xsd:sequence>
			
			<xsd:attribute name="name" type="xsd:string" use="required"/>
		
		</xsd:complexType>
			
	</xsd:element>
	
</xsd:schema>
